* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skills {
    position: relative;
    /* background: #000 transparent; */
    /* border: 2px rgb(188, 88, 16) solid; */
    top: 0px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.bodySkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
    margin: 20px;
    height: 85vh;
    box-sizing: border-box;
}

.boxImageCheikh {
    position: relative;
    margin: 20px;
    /* width: 15%; */
    height: 90%;
    color: #6e6c6c;
    /* border: #000 2px solid; */
    /* left: 0%; */
    /* padding-left: 10px; */
    background: #fff;
    box-sizing: border-box;
}

.imageCheikh {
    position: relative;
    width: auto;
    height: 100%;
    cursor: default;
    background: #fff;
    border-radius: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40%;
    margin: 10px;
    color: #3d3c3c;
    /* border: #000 2px solid; */
    font-size: 1.2rem;
}

.description h1 {
    padding: 0px 10px;
    text-align: center;
    /* border: #000 2px solid; */
    margin: 10px;
    font-size: 5rem;
}

.descrioptionCheikh {
    position: relative;
    padding: 10px;
    /* border: #000 2px solid; */
}

@media screen and (max-width: 1051px) {
    .skills {
        position: relative;
        /* background: #000 transparent; */
        /* border: 2px rgb(188, 88, 16) solid; */
        top: 0px;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }

    .bodySkills {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* border: 2px solid red; */
        margin: 20px;
        height: 85vh;
        box-sizing: border-box;
    }

    .boxImageCheikh {
        position: relative;
        margin: 20px;
        /* width: 15%; */
        height: 80%;
        color: #6e6c6c;
        /* border: #000 2px solid; */
        /* left: 0%; */
        /* padding-left: 10px; */
        background: #fff;
        box-sizing: border-box;
    }

    .imageCheikh {
        position: relative;
        width: auto;
        height: 100%;
        cursor: default;
        background: #fff;
    }

    .description {
        position: relative;
        width: 40%;
        margin: 10px;
        color: #3d3c3c;
        border: #000 2px solid;
        font-size: 1.2rem;
    }

    .description h1 {
        padding: 20px 10px;
        text-align: center;
        /* border: #000 2px solid; */
        margin: 10px;
        font-size: 3rem;
    }

    .descrioptionCheikh {
        position: relative;
        padding: 10px;
        /* border: #000 2px solid; */
        margin: 10px;
    }
}

.block {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px;
}

.iconJavascript {
    display: flex;
    /* border: #3d3c3c 1px solid; */
    height: auto;
    align-items: center;
    margin: 30px;
    justify-content: flex-start;
    /* width: 200px; */
}
